.navbar {
  background: linear-gradient(135deg, #020617, #081042, #4c1d95) !important;
  box-shadow: 0 8px 32px rgba(124, 58, 237, 0.15);
  border-bottom: 1px solid rgba(124, 58, 237, 0.1);
}

.navbar-brand {
  font-size: 30px;
  font-weight: 700;
  color: #7ea6ff !important;
}

.nav-link {
  color: #dbe4ff !important;
  margin-left: 15px;
  transition: 0.3s;
}

.nav-link:hover {
  color: #d946ef !important;
}

.nav-link.active {
  color: #7ea6ff !important;
}

.college-banner {
  position: relative;
  overflow: hidden;
  border-radius: 25px;
}

.college-detail-img {
  width: 100%;
  /* height: 320px; */
  height: 350px;
  object-fit: cover;
  display: block;
}

.college-overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 30px;
  /* background: rgba(0, 0, 0, 0.5); */
   background: linear-gradient( transparent, rgba(0,0,0,0.9));
  /* color: rgb(12, 11, 11); */
}

.college-overlay h1 {
  color: white;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 10px;
}
.college-overlay p{
    color: white;
    font-size: 1.2rem;
    margin: 0;
}

.card {
  background: #07153d;
  border: none;
  border-radius: 25px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

.card-title,
.card-text,
.list-group-item {
  color: white !important;
  background: #07153d !important;
  border-color: rgba(255, 255, 255, 0.1);
}

.btn-primary {
  background: linear-gradient(90deg, #2f6fff, #d946ef);
  border: none;
  border-radius: 15px;
}

.btn-primary:hover {
  background: linear-gradient(90deg, #1f57db, #c026d3);
}

/* Quick Info text white */
.list-unstyled,
.list-unstyled li,
.list-unstyled strong {
  color: white !important;
}
